@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

:root {
  --background-color: #eeecec;
  --border-color: #3f3c3c;
  --link-color1: rgb(83, 42, 44);
  --link-color2: rgb(146, 122, 123);
  --btn-color1: #75a4c7;
  --btn-color2: #4684b3;
}

html {
  font-family: Roboto, Lato, sans-serif;
  scroll-behavior: smooth;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: var(--background-color);
  color: #3f3c3c;
  margin: 1em 18em 1em;
  font-size: 100%;
}

h1 {
  font-family: "Nosifer", sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  padding-top: 0.5rem;
}

section {
  margin-top: 1.2rem;
  
}

section > label {
  font-size: 1.4em;
  font-weight: bold;
}

nav {
  padding-top: 1.2rem;
  padding-left: 1.5rem;
}

ul {
  display: flex;
  column-gap: 35px;
}

a {
  text-decoration: none;
}

a {
  font-weight: bold;
  color: var(--link-color1);
}

a:hover,
a:focus {
  color: var(--link-color2);
}

form {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  row-gap: 1.1rem;
}

.card {
  position: relative;
  border-radius: 0.3em;
  border: 1px solid var(--border-color);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  background-color: #e5e5e5;
}

.card > div {
  display: flex;
  flex-direction: column;
  padding: 1.4em 0.8em;
  row-gap: 1rem;
}

.card > label {
  position: absolute;
  top: -0.5rem;
  left: 1.2rem;
  background-color: var(--background-color);
}

.card-item {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1em;
}

.card-item-col {
  flex-direction: column;
  row-gap: 0.1em;
  justify-content: flex-start;
}

.card-item-lin {
  flex-direction: row;
  column-gap: 0.2em;
  align-items: flex-end;
}

input[name="email"],
.textbox {
  width: 22rem;
}

input[name="password"] {
  width: 22rem;
}

.card span {
  font-size: 0.85em;
  font-style: italic;
}

.btn {
  margin-top: 0.2rem;
  font-size: 0.9em;
  border: 1px solid var(--border-color);
  border-radius: 0.4rem;
  height: 2rem;
  background-color: var(--btn-color1);
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-color2);
}

.compra-content {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 10px;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 22% 13% 14% 26% auto;
}

.produto-content {
  display: grid;
  grid-template-columns: 20% 70% auto;
}

.text-info {
  border: none;
  background-color: var(--background-color);
  font-size: 0.95em;
}

input[type="image"] {
  width: 130px;
}
input.text-info {
  width: 8rem;
}

.card-item .title-prod {
  font-size: 0.9em;
  font-weight: bold;
}

.card-collapse {
  border-bottom: 1px solid var(--border-color);
}

.card-collapse > div {
  padding: 0.5em 0 1em;
}
summary {
  padding-bottom: 0.5em;
}

.detalhe-pagamento {
  display: grid;
  grid-template-columns: 42% 40% auto;
}

.detail-pgto {
  font-size: 1em;
  font-weight: normal;
}

.detail-pgto .title {
  font-size: 1.1em;
  font-weight: bold;
}

.detail-pgto .title,
.detail-pgto strong {
  font-weight: bold;
}

.card-group-avaliacao .title {
  font-weight: bold;
}

.group-item-col {
  row-gap: 0.8em;
}

.input-data-compra {
  width: 7rem;
}
.txt-area {
  width: 22rem;
}
